html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: black;
}

button {
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li {
    list-style: none;
}

.container {
    max-width: 1141px; //увеличить на 30px
    margin: 0 auto;
    padding: 0 15px;
}

.breadcrumbs {
    background: rgba(223, 223, 223, 0.5);
    color: #5A5A5A;

    &__links {
        display: flex;
        align-items: center;
        height: 55px;
    }

    &__item {
        position: relative;

        &::after {
            content: "/";
            position: absolute;
            right: 3px;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        margin-right: 10px;

        &:hover {
            color: black;
            transition: all .3s;
        }
    }
}

