<footer class="footer">

    <div class="footer__inner">
        <div class="container footer__content">

            <div class="footer__contact">
                <h4 class="footer__contact-title">
                    Связаться с нами
                </h4>

                <p class="footer__contact-text">
                    Обратившись в нашу компанию, покупатель может создать свой неповторимый стиль помещения,
                    подобрав предметы интерьера.
                </p>

                <a class="footer__contact-email" href="mailto:ouremai@email.com">
                    ouremai@email.com
                </a>

                <form class="footer__form">
                    <label>
                        <input class="footer__form-input" type="text" placeholder="Подпишитесь по электронной почте">
                    </label>

                    <input class="footer__form-btn" type="submit" placeholder="Отправить">
                </form>

            </div>

            <ul class="footer__social">
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">Facebook</a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">Instagram</a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">Pinterest</a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">whatsapp</a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="#">youtube</a>
                </li>
            </ul>

            <nav class="footer__menu">
                <ul class="footer__list">
                    <li class="footer__list-link">
                        <a href="#">Доставка</a>
                    </li>
                    <li class="footer__list-link">
                        <a href="#">FAQ</a>
                    </li>
                    <li class="footer__list-link">
                        <a href="#">Помощь</a>
                    </li>
                    <li class="footer__list-link">
                        <a href="#">Подробнее о нас</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="footer__copyright">
        <div class="container">
            <p>Москва, ул. Строителей, д. 7</p>
        </div>
    </div>

</footer>
</div>

<script src="js/main.min.js"></script>
</body>

</html>
